# Java
*.class

# Package Files #
*.jar
*.war
*.ear
# Mac
.DS_Store

# Vim
*.swp

# Eclipse
.classpath
.project
.settings/
target/

# GemFire Licenses
**/vf.gf.dmn-events.txt
**/vf.gf.dmn-license.cfg
